/* app template */
.aa {
    height: 440px;
    border: #668b66 1px solid;
    padding: 20px;
}

.as {
    width: 50px;
    height: 30px;
}

.a {
    height: 250px;
    padding: 20px;
    border: 1px steelblue dashed;
    margin: 10px auto;
}

.sss {
    /* width: 200px; */
    height: 100px;
    border: #043502 1px dashed;
    margin: 20px auto;
}


.ss {
    /* width: 200px; */
    height: 200px;
    border: #043502 1px dashed;
    margin: 20px auto;
}

/* connect Wallet template */
#refresh {
    float: right;
}

#m-list {
    margin-top: 40px;
    padding: 10px;
    height: 100px;
    border: 1px solid #668b66;
}

#m-list li {
    list-style: none;
    box-sizing: border-box;
    float: left;
    padding: 5px;
}

/* mint template */
.m-words {
    height: 340px;
    border: solid 1px #668b66;
    margin-top: 20px;

}

.m-words .el-input {
    float: right;
    /* border: #668b66 1px solid; */
    width: 250px;
    margin: 0 17px 10px;
}

.m-words .el-textarea__inner {
    width: 95%;
    margin: 0 auto;
}

#operate {
    height: 50px;
    margin: 20px auto;
}

.exit .el-button {
    float: right;
    margin-right: 20px;
}


/* showmnemonic template */

#m-name p {
    text-align: left;
    margin-left: 5%;
}

#m-name .el-input {
    margin: 20px;
    float: right;
    /* border: #668b66 1px solid; */
    width: 250px;
}

#m-name>span {
    float: right;
}

#show-w {
    width: 90%;
    height: 100px;
    margin-left: 5%;
    border: 1px solid #668b66;
}

#burn {
    height: 50px;
    margin: 20px auto 10px;
}

/* walletinfo template */
#w-info .el-button {
    float: right;
    margin-left: 5px;
}

#br .el-button:nth-child(2) {
    margin-left: 0px;
}



.el-carousel__item p {
    color: #475669;
    font-size: 12px;
    opacity: 0.75;
    line-height: 40px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #cedcf0;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.el-carousel__button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.el-carousel__indicators--horizontal {}

.el-carousel__indicators {}